.signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.signup_container {
  background-color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 20px;
  margin: 0px 10px;
}
.signup_container > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3f51b5;
}
.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}
.form_elements > input {
  height: 35px !important;
  width: 100% !important;
}
.form_elements > select {
  height: 35px !important;
  width: 100% !important;
}
.form_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin: 10px 0px !important;
  text-transform: inherit !important;
  min-width: 120px !important;
  height: 45px !important;
  background-color: #3f51b5 !important;
  color: #ffffff !important;
  font-weight: 800 !important;
}
.signup_container > p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 21px;
  font-weight: 600;
}
.form_elements > h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.error {
  font-size: 16px;
  font-style: italic;
  color: red;
  margin: 0;
}

@media (max-width: 500px) {
  .signup {
    height: 110vh;
  }
  .signup_container > h1 {
    font-size: 24px;
  }
  .form_elements > input {
    height: 30px !important;
  }
  .form_elements > select {
    height: 30px !important;
  }
  .form_elements > h4 {
    font-size: 14px !important;
  }
  .error {
    font-size: 13px;
  }
  .btn {
    height: 30px !important;
  }
  .signup_container > p {
    font-size: 16px;
  }
}
