
.homepage{
    background-color: rgb(59, 59, 59);

}
.top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    width: 100%;
}


.top>img{
    z-index: 0;
    width: 70%;
    min-height: 50vh;
    position: relative;
    top: 0;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0.5;

}

.top>.link{
     position: absolute;
    bottom:0;
    margin-bottom: 10vh; 
    z-index: 100;
    padding: 3px;
    text-decoration: none;
    color: white;

    font-size: 50px;
    border-radius: 2px;
}

.top>.link:hover{
    background-color: rgba(0, 0, 0, .4);
}

.top>h1{
    width: 70%;
    position: absolute;
    top: 30%;
    z-index: 100;
     font-size: 50px; 
    margin-bottom:20px ;
    color:white;
}

.aboutUS{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutUS>h1{
    font-size: 50px;
    color: white;
}
.aboutUS>.cards{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 340px) {
    .top>h1{
        font-size: 20px;
    }
    .top>.link{
        font-size: 20px;
    }
    .aboutUS>h1{
        font-size: 20px;
     
    }
  }
@media only screen and (max-width: 760px) {
    .top>h1{
        font-size: 30px;
    }
    .top>.link{
        font-size: 20px;
    }
    .aboutUS>h1{
        font-size: 30px;
     
    }
  }

  @media only screen and (max-width: 500px) {
    .aboutUS>.cards{

        flex-direction: column;
    }
    
  }