.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}
.login_container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
}
.login_logo {
  width: 380px;
  object-fit: contain;
  margin-bottom: 25px;
}
.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form_elements {
  width: 100%;
  margin: 10px 0px;
}
.form_elements > input {
  height: 35px !important;
  width: 100% !important;
}
.form_login_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin: 20px 0px !important;
  text-transform: inherit !important;
  min-width: 120px !important;
  height: 45px !important;
  background-color: #3f51b5 !important;
  color: #ffffff !important;
  font-weight: 800 !important;
}
.login_container > p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 21px;
  font-weight: 600;
}
.form_elements > h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .login_logo {
    width: 380px;
  }
  .form_elements > input {
    height: 35px !important;
  }
  .btn {
    margin: 10px 0px !important;
    height: 40px !important;
  }
  .login_container > p {
    font-size: 20px;
  }
}
